@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Cardo:400,700);

@import "button_brown";
@import "loading";

body {
	background-color: #111;
	color : #F9BF3B;
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	font-family: 'Cardo', serif;
}

.navbar-default {
	font-family: 'Cardo', serif;
	background-color: rgba(30, 56, 136, 0.8);
	padding: 1em;
}
.navbar-brand {
	font-size: 2.3em;
	color: #E0E2DB !important;
}
ul.navbar-right > li > a {
	font-size: 20px;
	color: #E0E2DB !important;
}

.jumbotron {
	background-color: #111;
	padding: 6em 2em 0 2em;
	input[type=text] {
		background-color: #111;
		color: white;
	}
}

.no-result {
	margin: 2em;
}

.panel {
	margin: 2em;
	.panel-heading {
		font-family: 'Cardo', serif;
		font-size: 2em;
		font-weight: bold;
	}
	.panel-body {
		color: #111;
	}
}

.clickable {
	cursor: pointer;
}