@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Cardo:400,700);
@import "button_brown";
@import "loading";

$gold_color: #F9BF3B;
$black_color: #111111;

body {
	background-color: $black_color;
	color : $gold_color;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 5.7em;
}

h1 {
	font-family: 'Cardo', serif;
}

.navbar-default {
	font-family: 'Cardo', serif;
	background-color: rgba(30, 56, 136, 0.8);
	padding: 1em;
}
.navbar-brand {
	font-size: 2.3em;
	color: white !important;
	position: relative;
	top: -.2em;
}
ul.navbar-right > li > a {
	font-size: 20px;
	color: white !important;
}

.jumbotron {
	background-color: $black_color;
	padding: 0 2em 0 2em;
	input[type=text] {
		background-color: $black_color;
		color: white;
	}
}

.no-result {
	margin: 2em;
}

.panel {
	margin: 2em;
	.panel-heading {
		font-family: 'Cardo', serif;
		font-size: 2em;
		font-weight: bold;
	}
	.panel-body {
		color: $black_color;
	}
}

.clickable {
	cursor: pointer;
}
.pagination {
	padding-left: 2em;
	border-color: $gold_color !important;
	li.active {
		a {
			background-color: $gold_color !important;	
		}
	}
}

.badge {
	background-color: red;
	position: relative;
	top: -10px;
	left: -10px;
}

.breadcrumb {
	background-color: $black_color;
}
.googlemap {
	width: 40em;
	height: 40em;
}